
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Markedia - Marketing Blog Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <link href="style.css" rel="stylesheet">


</head>
<body>

<div class="wrapper">
    <!-- Navigation -->
    <nav class="main-nav">
      <ul>
        <li>
          <a href="#">Download</a>
        </li>
        <li>
          <a href="#">Stop</a>
        </li>
        <li>
          <a href="#">Start</a>
        </li>
        <li>
          <a href="#">Reset</a>
        </li>
      </ul>
    </nav>

    <!-- Top Container -->
    <section class="top-container">
      <header class="showcase">
        <h1>Your Web Presence</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, ipsam! Nihil quo minima nulla atque!</p>
        <a href="#" class="btn">Read More</a>
      </header>
     
    </section>

    <!-- Boxes Section -->
    <section class="boxes">
      <div class="box">
        <i class="fas fa-chart-pie fa-4x"></i>
        <h3>CPU TOTAL %</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
      </div>
      <div class="box">
        <i class="fas fa-globe fa-4x"></i>
        <h3>RAM TOTAL Mb</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
      </div>
      <div class="box">
        <i class="fas fa-cog fa-4x"></i>
        <h3>CPU JAVA %</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
      </div>
      <div class="box">
        <i class="fas fa-users fa-4x"></i>
        <h3>RAM JAVA Mb</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
      </div>
    </section>
   

    <!-- Footer -->
    <footer>
      <p>CTC - 2019</p>
    </footer>

  </div>
  <!-- Wrapper Ends -->
  </body>
  
  
  </html>